@import './base.css';

body {
  margin: 0px;
  background-color: #98c4e8;
}

#app {
  border: 0px;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

.icon {
  height: 32px;
}

.logo {
  height: 48px;
  align-self: center;
  padding-right: 15px;
}

#top-bar {
  position: fixed;
  display: flex;
  background-color: #335076;
  color: white;
  padding-left: 150px;
  width: 100%;
  height: 80px;
  align-content: center;
}

#main {
  margin-top: 80px;
}

#nav {
  position: fixed;
  padding: 0px;
  background-color: #335076;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: #5B789F #82afd3;
}

#nav a {
  font-weight: bold;
  color: white;
  padding: 20%;
  text-align: center;
}

#content {
  margin-left: 100px;
  padding: 0 50px;
}

.router-link {
  padding: 50px;
}

a,
.green {
  text-decoration: none;
  color: #5B789F;
  transition: 0.4s;
  padding: 3px;
}

#nav a.router-link-exact-active {
  color: white;
  background-color: #142c49;
}

@media (hover: hover) {
  a:hover {
    background-color: #5B789F;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}